@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-marca: #0B1D2E;
  --color-marca-suave: #12293D;
  --color-piscina: #38BDF8;
  --color-ouro: #C9A96A;
  --font-sans: 'Poppins', sans-serif;
}